

* {
    box-sizing: border-box;
/*pour enlever les marges automatiques des différents navigateurs*/
    margin: 0;
    padding: 0;
}

/* Box-sizing pour Bootstrap */
.selector-for-some-widget {
    box-sizing: content-box;
}

html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    height: 100%;
    /* défilement doux de la flèche "retour" */
    scroll-behavior: smooth;
}

/* FONT FACE */
/* Appelle les polices de la page */




/****************************************************
*                     GLOBAL                        *
*                                                   *
*               Balises et classes                  *
*       appelés à plusieurs endroits dans la page   *
****************************************************/

body {
    font-family: 'Open Sans', 'Poppins', 'Roboto', sans-serif;
    font-size: 1.4em;
    background-color: lightcyan;
    /* background-color: lightgoldenrodyellow; */
    /* background-color: lightgreen; */
    /* background-color: lightgrey; */
    /* background-color: whitesmoke; */
    /* background-color: white; */
    margin: 0 auto;
    padding: 0;
    text-align: justify;
    width: 100%;
    height: 100%;
    position: relative;
	/* height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto; */
}

h1 {
    text-align: center;
}

/* #toBe {
    margin-top: 2em;
} */

#container {
    width: 80%;
    /* max-width: 1280px; */
    margin: 0 auto;
    padding: 0 2em;
    min-height: 100%;
    position: relative;
    /* background-color: whitesmoke; */
}

.flex {
    display: flex;
    align-items: center;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexAroundWrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
}

.flexBetweenWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flexStart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* .flexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */


/****************************************************
*                     HEADER                        *
*                                                   *
*          Ce qui concerne le header et la nav      *
****************************************************/

header {
    background-color: #2C2D33;
    padding: 0.5em;
}

header nav {
    width: 80%;
    margin: 0 auto;
}

header nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.navMenu {
    width: 80%;
    padding: 1em 0;
    margin: 0 auto;
    background-color: whitesmoke;
    /* background-color: lightgrey; */
}

nav ul {
    width: 100%;
    padding: 5em 0;
    /* margin: 1em; */
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 1em;
}

#menuPrincipal {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menuPrincipal > li {
    width: 20%;
    padding:0;
    margin:0;
    text-align: center;
    position:relative;
}

#menuPrincipal a {
    display: block;
    position: relative;
    /* border: 1px solid white; */
    padding: 0.5em;
    justify-content: center;
    text-decoration: none;
    /* color: white; */
    /* background: #3f413d; */
}

#menuPrincipal li:hover #sousMenuRealisations {
    display: block;
    max-height: 500px;
}

#sousMenuRealisations {
    position: absolute;
    /* flex-direction: column; */
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition-duration: 1s;
    z-index: 1;
}

#sousMenuRealisations li {
    width: 80%;
    margin: 0.2em auto;
}

#sousMenuRealisations li a {
    background-color: #ff7f50;
    color: white;
    font-weight: bold;
}

#acc {
    background-color: #2c2d33;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

/* #acc::before {
    content: "<";
    padding-right: 0.1em;
}

#acc::after {
    content: "/>";
    padding-right: 0.1em;
} */

#acc:hover {
    background-color: #2c2d33;
    /* padding: 1em; */
    color: cyan;
    font-weight: bold;
}

#prof {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #a52a2a;
    font-weight: bold;
    text-decoration: none;
}

/* #prof::before {
    content: "<";
    padding-right: 0.3em;
    transition-duration: 3s;
}

#prof::after {
    content: "/>";
    padding-left: 0.3em;
    transition-duration: 3s;
} */

#prof:hover {
    background-color: #a52a2a;
    /* padding: 1em; */
    color: #ffffff;
    font-weight: bold;
}

#prof:hover::before {
    content: "<";
    padding-right: 0.3em;
    transition-duration: 3s;
}

#prof:hover::after {
    content: "/>";
    padding-left: 0.3em;
    transition-duration: 3s;
}

#comp {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #dc143c;
    font-weight: bold;
    text-decoration: none;
}

/* #comp::before {
    content: "<";
    padding-right: 0.3em;
}

#comp::after {
    content: "/>";
    padding-left: 0.3em;
} */

#comp:hover {
    background-color: #dc143c;
    /* padding: 1em; */
    color: #ffffff;
    font-weight: bold;
}

#comp:hover::before {
    content: "<";
    padding-right: 0.3em;
}

#comp:hover::after {
    content: "/>";
    padding-left: 0.3em;
}

#real {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #ff7f50;
    font-weight: bold;
    text-decoration: none;
    position:relative;
}

/* #real::before {
    content: "<";
    padding-right: 0.3em;
}

#real::after {
    content: "/>";
    padding-left: 0.3em;
} */

#real:hover {
    background-color: #ff7f50;
    /* padding: 1em; */
    color: #ffffff;
    font-weight: bold;
}

#real:hover::before {
    content: "<";
    padding-right: 0.3em;
}

#real:hover::after {
    content: "/>";
    padding-left: 0.3em;
}

#cont {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #ff69b4;
    font-weight: bold;
    text-decoration: none;
}

/* #cont::before {
    content: "<";
    padding-right: 0.3em;
}

#cont::after {
    content: "/>";
    padding-left: 0.3em;
} */

#cont:hover {
    background-color: #ff69b4;
    /* padding: 1em; */
    color: #ffffff;
    font-weight: bold;
}

#cont:hover::before {
    content: "<";
    padding-right: 0.3em;
}

#cont:hover::after {
    content: "/>";
    padding-left: 0.3em;
}

#connect {
    font-size: 1em;
    text-transform: uppercase;
    color: grey;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
}

#connect:hover {
    background-color: grey;
    /* padding: 1em; */
    color: #ffffff;
    font-weight: bold;
}

#retourSite {
    font-size: 1em;
    text-transform: uppercase;
    color: grey;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
}

#retourSite:hover {
    background-color: grey;
    /* padding: 1em; */
    color: #ffffff;
    font-weight: bold;
}

#retourAdmin {
    font-size: 1em;
    text-transform: uppercase;
    color: grey;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
}

#retourAdmin:hover {
    background-color: grey;
    /* padding: 1em; */
    color: #ffffff;
    font-weight: bold;
}

#deconnect {
    font-size: 1em;
    text-transform: uppercase;
    color: grey;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
}

#deconnect:hover {
    background-color: grey;
    /* padding: 1em; */
    color: #ffffff;
    font-weight: bold;
}

#menuAdmin {
    padding: 0;
    margin: 0;
}

#menuAdmin a {
    text-transform: uppercase;
    color: #0066ff;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
}

#menuAdmin a:hover {
    background-color: #0066ff;
    /* padding: 1em; */
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

/* .active {
    font-weight: bold;
    color: white;
} */

/* .violet {
    background-color: #8a2be2;
    background-position: 0 -141px;
    border-color: #531b88;
    color: white;
} */

/* #menuPrincipal li.active {
    margin-left: 0;
    color: white;
} */


/*__________________________________________________
              
            Bouton retour en haut de page
____________________________________________________*/

a#retour {
    border-radius: 3px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 20px;
    opacity: 1;
    z-index: 99999;
    transition: all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
}

a#retour:before {
    content: "\25b2";
}

a#retour:hover {
    background: rgba(0, 0, 0, 1);
    transition: all ease-in 0.2s;
}

a#retour.invisible{
    bottom: -35px;
    opacity: 0;
    transition: all ease-in 0.5s;
}

a#retour.visible{
    bottom: 20px;
    opacity: 1;
}


/****************************************************
*                     MAIN                          *
*                                                   *
*          Ce qui concerne le corps du site         *
****************************************************/

main {
    width: 100%;
}

main h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 3em 0;
}

main h3 {
    font-weight: bold;
    margin-bottom: 1em;
}

main h4 {
    font-weight: bold;
    margin-bottom: 1em;
}

main section article {
    margin: 3em 0;
}

main section article ul li {
    list-style-position: inside;
}

.required {
    font-weight: bold;
    font-style: italic;
}

.error {
	color: red;
	font-size: 0.8em;
	display: none;
}

.spanBold {
    font-weight: bold;
}

/* .spanItalic {
    font-style: italic;
} */

/* .spanUnderline {
    text-decoration-line: underline;
} */

/* .spanBoldItalic {
    font-weight: bold;
    font-style: italic;
} */

/* .spanBoldUnderline {
    font-weight: bold;
    text-decoration-line: underline;
} */

.spanItalicUnderline {
    font-style: italic;
    text-decoration-line: underline;
}

.spanBoldItalicUnderline {
    font-weight: bold;
    font-style: italic;
    text-decoration-line: underline;
}

.aYellowgreenBold {
    font-weight: bold;
    color: yellowgreen;
}

.aYellowgreenBold:hover {
    color: yellowgreen;
    text-decoration: none;
}

.aYellowgreenBoldItalic {
    font-weight: bold;
    font-style: italic;
    color: yellowgreen;
}

.aYellowgreenBoldItalic:hover {
    color: yellowgreen;
    text-decoration: none;
}

.aAmenagement {
    font-weight: bold;
    color: red;
}

.aAmenagement:hover {
    color: red;
    text-decoration: none;
}

.aUrbanisme {
    font-weight: bold;
    color: orange;
}

.aUrbanisme:hover {
    color: orange;
    text-decoration: none;
}

.aGreenBold {
    font-weight: bold;
    color: green;
}

.aGreenBold:hover {
    color: green;
    text-decoration: none;
}

.aBlueBold {
    font-weight: bold;
    color: blue;
}

.aBlueBold:hover {
    color: blue;
    text-decoration: none;
}

.aLinkedIn {
    font-weight: bold;
    color: #0073B0;
}

.aLinkedIn:hover {
    color: #0073B0;
    text-decoration: none;
}

.aGitHub {
    font-weight: bold;
    color: purple;
}

.aGitHub:hover {
    color: purple;
    text-decoration: none;
}

/* #search {
    margin: 4em;
}

.spanSearch {
    position: relative;
    display: inline-block;
    direction: ltr;
    width: 100%;
}

#search-input {
    position: relative;
    vertical-align: top;
    margin: 0 auto;
    width: 20%;
} */


/*__________________________________________________
              
                PAGE ACCUEIL
____________________________________________________*/

#accueil {
    margin: 2em 0;
}

#accueilH2 {
    color: #0066ff;
}

#accueil article p {
    margin-bottom: 1em;
}

#messageAccueil {
    font-size: 2em;
    text-align: center;
}


/*__________________________________________________
              
                PAGE PROFIL
____________________________________________________*/

#profil {
    margin: 2em 0;
}

#profilH2 {
    color: #a52a2a;
}

#profil article p {
    margin-bottom: 1em;
}

#identity figure {
    width: 10%;
    padding: 1em 0;
}

#identity figure img {
    width: 100%;
    max-height: 200px;
    border-radius: 50%;
}


/*__________________________________________________
              
                PAGE COMPETENCES
____________________________________________________*/

#competences {
    margin: 2em 0;
}

#competencesH2 {
    color: #dc143c;
}

#languages {
    width: 30%;
}

#languages li {
    list-style-type: none;
    text-align: left;
    margin-bottom: 1em;
}

/*
#languages label {
    padding-right: 100px;
    font-size: 1.4rem;
}
*/

#languages p {
    display: inline-block;
}

#HT::-moz-progress-bar {
    background-color: green;
}

#CS::-moz-progress-bar {
    background-color: dodgerblue;
}

#JS::-moz-progress-bar {
    background-color: orange;
}

#PH::-moz-progress-bar {
    background-color: orange;
}

#SQ::-moz-progress-bar {
    background-color: orangered;
}

#ANG::-moz-progress-bar {
    background-color: red;
}

#WP::-moz-progress-bar {
    background-color: orangered;
}

#JAVA::-moz-progress-bar {
    background-color: red;
}

#C::-moz-progress-bar {
    background-color: red;
}

#C2::-moz-progress-bar {
    background-color: red;
}

#autresNotions {
    width: 30%;
}

#autresNotions li {
    list-style-type: none;
    text-align: left;
    margin-bottom: 1em;
}

#compTrans {
    width: 30%;
}


/*__________________________________________________
              
                PAGE REALISATIONS
____________________________________________________*/

#realisations {
    margin: 2em 0;
    padding: 0;
    width: 100%;
}

#realisations h2 {
    color: #ff7f50;
    width: 100%;
}

#listeRealisations {
    margin: 0;
    padding-right: 2em;
    width: 50%;
    align-self: flex-start;
}

#listeRealisations article {
    width: 100%;
}

#slideshowRealisations {
    /* margin: 0; */
    /* padding: 0; */
    width: 50%;
}

#slideshowRealisations figure {
    margin: 0;
    padding: 0;
    width: 100%;
    /* max-height: 400px; */
}

#slideshowRealisations figure img {
    max-width: 100%;
    max-height: 400px;
}

/* #detail1 h2 {
    color: blue;
    width: 100%;
}

#detail2 h2 {
    color: red;
    width: 100%;
}

#detail3 h2 {
    color: green;
    width: 100%;
}

#detail4 h2 {
    color: purple;
    width: 100%;
}

#detail5 h2 {
    color: grey;
    width: 100%;
} */

#dated {
    font-weight: bold;
    font-style: italic;
}

#detail {
    margin: 2em 0;
    padding: 0;
    width: 100%;
}

#detail h2 {
    width: 100%;
}

#detailProjet {
    margin: 0;
    padding-right: 2em;
    width: 50%;
    align-self: flex-start;
}

#slideshowDetailProjet {
    /* margin: 0; */
    /* padding: 0; */
    width: 50%;
}

#slideshowDetailProjet figure {
    margin: 0;
    padding: 0;
    width: 100%;
}

#slideshowDetailProjet figure img {
    max-width: 100%;
    max-height: 400px;
}


/*__________________________________________________
              
                PAGE CONTACT
____________________________________________________*/

#contact {
    width: 100%;
    margin: 2em 0;
}

#contact h2 {
    color: #ff69b4;
}

#contact form {
    width: 50%;
    padding: 0;
}

#contact form ul li {
    list-style-type: none;
    text-align: left;
    margin-bottom: 1em;
}

#contact label {
    font-weight: bold;
    display: inline-block;
    width: 25%;
    
}

#contact input[type="text"],
input[type="tel"],
input[type="email"],
input[type="file"],
textarea {
    width: 60%;
    padding: 0.2em;
}

#contact textarea {
    resize: vertical;
    vertical-align: text-top;
}

#contact input[type=reset],
input[type="submit"] {
    padding: 0.4em;
    border: none;
}

#erase {
    background-color: orange;
}

#send {
    background-color: yellowgreen;
}

/* .button-primary button {
    background-color: #4CAF50;
    color: white;
    padding: 1.2em 2em;
    border: none;
    border-radius: 4px;
} */

/* .button-primary button:hover {
    background-color: #45a049;
} */

#asideContact {
	width: 40%;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	text-align: center;
}

#asideContact article {
    margin: 0;
    padding: 0;
}

#asideContact h3 {
    text-align: center;
}

#asideContact p {
	text-align: center;
	margin: 0;
}

#map {
	width: 100%;
    height: 200px;
    margin-top: 2em;
	position: absolute;
	left: 105%;
	-webkit-transition: left 0.8s;
	transition: left 0.8s;
}

#asideContact:hover #map {
	left: 0;
}


/*__________________________________________________
              
                CONNEXION

                (login)
____________________________________________________*/

#login {
    width: 100%;
    margin: 2em 0;
}

#login h2 {
    color: green;
}

#login form {
    width: 50%;
    padding: 0;
    margin: 0 auto;
}

#login form ul li {
    list-style-type: none;
    text-align: left;
    margin-bottom: 1em;
}

#login label {
    font-weight: bold;
    display: inline-block;
    width: 25%;
}

#login input[type="text"],
input[type="password"] {
    width: 50%;
}

#connexion {
    background-color: green;
}


/*__________________________________________________
              
                MENTIONS LEGALES
____________________________________________________*/


#mentionsLegales {
    margin-bottom: 4em;
}

#mentionsLegalesH2 {
    /* color: grey; */
    color: rgb(94, 93, 93);
}

#mentionsLegales p {
    padding: 0;
    margin: 0;
}

#mentionsLegales aside {
    margin: 1em 0;
}

#mentionsCGU h4 {
    margin-top: 2em;
}

#mentionsCGU ul {
    list-style-position: inside;
    /* list-style-type: square; */
    /* text-align: center; */
}

.spanGreyBoldItalic {
    font-weight: bold;
    font-style: italic;
    /* color: #323333; */
    color: rgb(94, 93, 93);
}


/****************************************************
*                     FOOTER                        *
*                                                   *
*          Ce qui concerne le pied de page          *
****************************************************/

footer {
    width: 100%;
    /* background-color: #636574; */
    background-color: #2c2d33;
    color: white;
    padding: 2em 0;
    /* margin-bottom: 15em; */
    position: relative;
    /* height: 12em; */
    /* position: absolute; */
    /* bottom: 0; */
}

footer p {
    text-align: center;
    /* padding-top: 1em;
    padding-bottom: 1em; */
}

#reseaux {
    width: 10%;
    /* background-color: #696969; */
    padding: 1em 0;
    margin: 0 auto;
}

#reseaux .fab {
    font-size: 3em;
    color:white;
}

.fa-linkedin {
    padding: 0.2em;
}

.fa-linkedin:hover {
    /* background-color: #1686b0; */
    background-color: #0077b5;
    /* padding: 0.2em; */
}

.fa-github-square {
    padding: 0.2em;
}

.fa-github-square:hover {
    /* background-color: #333; */
    background-color: purple;
    /* padding: 0.2em; */
}

/* LICENCE */
/* Ce qui concerne les mentions légales du site */

#licence {
    display: block;
    color: black;
    text-align: center;
    line-height: normal;
    /* padding: 1em; */
    margin: 0 auto;
}

#licence p {
    padding: 0;
    margin: 0;
}

#licence p a:hover {
    color: white;
}

#licence img {
    width: 5em;
    margin: 0 auto;
}

#licence a {
    color: black;
}


/****************************************************
*               Gestion des Cookies                 *
*                                                   *
*                                                   *
****************************************************/





/****************************************************
*               SITE "RESPONSIVE"                   *
*                                                   *
*          définition des "mediaqueries" :          *
*               @media screen and ()                *
****************************************************/

/* quand on veut faire un site "responsive", on prend la taille "max-width" quand on part par défaut d'une version "Desktop" et que l'on veut modifier certaines choses dans une version tablette et mobile */
/* à l'inverse, si on part d'une version mobile par défaut, on prend la taille "min-width" pour modifier certaines choses dans une version tablette et Desktop */


/*              VERSION TABLETTE
____________________________________________________*/


@media screen and (max-width: 1024px) {

    

}



/*                  VERSION MOBILE
____________________________________________________*/


/* MENU */

@media screen and (max-width: 600px) {

    .flexStart {
        flex-direction: column;
        justify-content: center;
    }
    
    .flexCenter {
        flex-direction: column;
    }

    .flexBetween {
        flex-direction: column;
        align-items: center;
    }

    .flexEnd {
        flex-direction: column;
        justify-content: center;
    }

    #menuPrincipal > li {
        width: 100%;
    }
        
    /* #menuAdmin {
        display: none;
    } */

    #menuAdmin li {
        margin: 0 auto;
    }

    nav ul li {
        padding-bottom: 2em;
    }

    #container {
        padding: 0;
    }
    

}

/* MAIN */

@media screen and (max-width: 600px) {

#search-input {
    width: 100%;
}

}

/* PROFIL */

@media screen and (max-width: 600px) {
    
    #profil article {
        width: 100%;
    }

    #identity figure {
        width: 50%;
        margin: 0 auto;
        padding: 1em 0;
    }
    
}


/* COMPETENCES */

@media screen and (max-width: 600px) {
    
    #languages {
        width: 100%;
    }

    #autresNotions {
        width: 100%;
    }
    
    #compTrans {
        width: 100%;
    }
}


/* REALISATIONS */

@media screen and (max-width: 600px) {
    
    #menuPrincipal li:hover #sousMenuRealisations {
        display: none;
    }

    #realisations article {
        width: 100%;
    }

    #listeRealisations {
        padding: 0;
        width: 100%;
    }

    #mesProjets {
        display: none;
    }

    #monProjet1 {
        display: none;
    }
    
    #monProjet2 {
        display: none;
    }
    
    #monProjet3 {
        display: none;
    }
    
    #monProjet4 {
        display: none;
    }

    #monProjet5 {
        display: none;
    }

    #monProjet6 {
        display: none;
    }

    #detailProjet {
        padding: 0;
        width: 100%;
    }
    
}


/* CONTACT */

@media screen and (max-width: 600px) {
    
    #formMap {
        display: flex;
		flex-direction: column;
    }
    
    #contact form {
        width: 100%;
    }

    #form {
        margin-bottom: 2em;
    }
    
    #asideContact {
        width: 100%;
        cursor: default;
    }

    #map {
        display: none;
        width: 100%;
		left: 0;
	}
    

    /* MENTIONS */

@media screen and (max-width: 600px) {

   

}

}

